In [1]:
l = []

for letter in 'word':
    l.append(letter)

print (l)

['w', 'o', 'r', 'd']

In [4]:
lst = [letter for letter in 'word']

In [6]:
lst

['w', 'o', 'r', 'd']

In [7]:
lst = [x**2 for x in range(0,11)]

In [8]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
lst = [number for number in range(11) if number % 2 == 0]

In [10]:
lst

[0, 2, 4, 6, 8, 10]

In [11]:
lst = []

for number in range(11):
    if number % 2 == 0:
        lst.append(number)

In [12]:
lst

[0, 2, 4, 6, 8, 10]

In [15]:
celsius = [0,10,20.1,34.5]

fahrenheit = [(temp * (9/5.0) + 32) for temp in celsius]

In [16]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [19]:
lst = [x**2 for x in [x**2 for x in range(11)]]

In [20]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]